body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}

/* Headings */

h1 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}

h2 {
    font-size: 16px;
    font-weight: 700;
}

#price-grid{
    background-color: #fff;
    display: block;
    position: absolute;
    width: 500px;
    height: 380px;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Join Us */

.join-cell{
    height: 120px;
    padding: 30px;
}

.join-cell h2{
    color: hsl(71, 73%, 54%);
}

.join-cell p{
    line-height: 1.2 rem;
    color: hsl(218, 22%, 67%);
}

/* Monthly Subscription */

.subscription-cell{
    display: inline-block;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    width: 190px;
    height: 140px;
    margin: 0;
    float: left;
    padding: 30px;
    border-bottom-left-radius: 10px;
}
.subscription-cell h2{
    margin-top: 0;
    color: #fff;
}
span.price {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
span.permonth-text {
    color: hsl(179, 34%, 71%);
}
.subscription-cell button {
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 13px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.subscription-cell button:hover{
    background-color: hsl(71, 88%, 38%);
    cursor: pointer;
}

/* Why Us */

.why-us-cell{
    display: inline-block;
    background-color: hsl(179, 42%, 57%);
    color: hsl(204, 43%, 93%);
    width: 190px;
    height: 140px;
    margin: 0;
    padding: 30px;
    border-bottom-right-radius: 10px;
}
.why-us-cell h2{
    margin-top: 0;
    color: #fff;
}
.why-us-cell ul{
    list-style-type: none;
    padding: 0;
    line-height: 1.1rem;
}

/* Footer */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 375px){
    #price-grid{
        width: 300px;
        height: 600px;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .subscription-cell{
        display: block;
        width: initial;
        float: none;
        border-radius: 0;
        margin-top: 30px;
    }
    .why-us-cell {
        display: block;
        width: initial;
        border-bottom-left-radius: 10px;
    }

    footer {
        position: relative;
    }

}